<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitespeed Backend Task</title>
</head>
<body>
    <h1>Welcome to the Bitespeed Backend Task</h1>
    <p>{{ meeps }}</p>
    <br>
    <a href="https://bitespeed-backend-task-no6f.onrender.com/identify/" target="_blank">Identify</a> <br>
    <br>
    <a href="https://bitespeed-backend-task-no6f.onrender.com/contactdetails/" target="_blank">Contact List</a>
</body>
</html>
